.App-content .App-content-nav {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.App-content-nav>li {
    display: inline-block;
    padding: 5px 20px;
}

.App-content-nav>li:not(:last-child) {
    border-right: 1px solid #ccc;
}

.App-content-nav>li:hover {
    cursor: pointer;
}