.UserDialog-Wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserDialog-Wrapper .UserDialog {
    min-width: 20em;
    border-radius: 5px;
    border: 1px solid #e0eefa;
    background-color: #fff;
}